svg {
    height: 604px;
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

path{
    stroke: white;
    stroke-width: 2;
    fill: lightgray;
}

#map-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

#hover-square {
    position: absolute;
    width: 105px;
    height: 170px;
    background-color: rgb(255, 255, 255);
    pointer-events: none;
    display: none; 
    border-style: solid;
    border-width: 2px;
    border-color: black;
    font-family:"Segoe UI";
}

text{
    user-select: none;
    font-family:"Segoe UI";
    font-size:5; 
    fill:black;
    font-weight: bold;
}

#toWin {
    margin: auto;
    width: 65%;
    background-color: #d27776;
  }
  
#toWinBar {
    width: 1%;
    height: 30px;
    background-color: #71A8EB;
  }

#dems-lead, #rep-lead, #toWin {
    margin: auto;    
    user-select: none;
    display: inline-block;
    vertical-align: middle;
    font-family:"Segoe UI";
    font-weight: bold;
}

#container
{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

body
{
    text-align: center;
}

#last-up
{
    user-select: none;
    font-family:"Segoe UI";
}
